*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgPeople{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.imgPlanet{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.imgVehicle{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.image{
    width: 100%;
    height: auto;
}